* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Loader*/

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50%;
  left: 100%;
  transform: translate(50%, -50%);
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #e50914;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
